@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


:root {
  --black: oklch(9.11% 0.0512 263.84deg);
  --very-dark-grey-dark-bg: oklch(25.07% 0.0211 280.71deg);
  --dark-grey: oklch(29.68% 0.0199 281.04deg);
  --lines-dark: oklch(37.26% 0.0263 280.97deg);
  --medium-grey: oklch(64.64% 0.0335 258.94deg);
  --lines-light: oklch(93.92% 0.0216 265.78deg);
  --light-grey-light-bg: oklch(97.56% 0.0086 264.57deg);
  --white: oklch(100% 0 none);
  --main-purple: oklch(54.27% 0.1571 281.54deg);
  --main-purple-hover: oklch(75.75% 0.1292 284.63deg);
  --red: oklch(64.93% 0.1848 23.81deg);
  --red-hover: oklch(78.73% 0.1234 20.23deg);

  --background: var(--light-grey-light-bg);
  --sidebar: var(--white);
  --divider: var(--lines-light);
}

.dark {
  --background: var(--very-dark-grey-dark-bg);
  --sidebar: var(--dark-grey);
  --divider: var(--lines-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--medium-grey);
  --color-primary: var(--main-purple);
  --color-sidebar: var(--sidebar);
  --color-divider: var(--divider);
  --font-sans: var(--font-plus-jakarta-sans);
}
